<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="download.mishkindeveloper.AllRadioUA">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Разрешение на получения статуса соединения -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Разрешение будильник -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="Manifest.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="Manifest.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />


    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RadioUa"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".alarm.StopAlarmActivity"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:label="Stop Alarm Activity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.RadioUa.AppCompat"
            android:exported="false" />

        <receiver
            android:name=".widget.PlayerWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/player_widget_info" />
        </receiver>
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ALARM_ALERT" />
            </intent-filter>
            <intent-filter>
                <action android:name="STOP_ALARM_ACTION" />
            </intent-filter>
        </receiver> <!-- <receiver android:name=".alarm.StopReceiver" /> -->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alarm.AlarmReceiver"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name="download.mishkindeveloper.AllRadioUA.services.PlayerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="download.mishkindeveloper.AllRadioUA.ACTION_PLAY" />
                <action android:name="download.mishkindeveloper.AllRadioUA.ACTION_PAUSE" />
                <action android:name="download.mishkindeveloper.AllRadioUA.ACTION_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="download.mishkindeveloper.AllRadioUA.services.TimerService" />
        <service
            android:name=".services.AlarmRadioPlayerService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3971991853344828~4197716332" />
        <meta-data android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>